{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h4 class="col-xs-12 col-md-3 col-md-offset-3">
        {% if currentUser %}
            Hello, {{ user.user_name }}
        {% else %}
            Stats for {{ user.user_name }}
        {% endif %}
    </h4>
</div>

<section>
    <div class="row">
        <div class="col-xs-6 col-md-3 col-md-offset-3">Signed up</div>
        <div class="col-xs-6 col-md-3">{{ user.utils.formatDate(user.user_signedup) }}</div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6 col-md-3 col-md-offset-3">Post count</div>
        <div class="col-xs-6 col-md-3">{{ user.posts.length }}</div>
    </div>
    <hr />
    <ul class="unstyled">
    {% for post in user.posts %}
        <li class="row">
            <div class="col-xs-6 col-md-3 col-md-offset-3">
                <a href="/yube-it/{{ user.user_ref }}/{{ post.post_created }}/{{ user.utils.formatTitle(post.post_title) }}">
                    {{ post.post_title }}
                </a>
            </div>
            <div class="col-xs-6 col-md-3">{{ user.utils.formatDate(post.post_created) }}</div>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
